*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:where(html, body) {
  overscroll-behavior-y: none;
}

:where(img, picture, svg, canvas) {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
}
